p {
  text-align: center;
/*  font-family: "Times New Roman", Times, serif;*/
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman";
}

body {
  background-color: black;
  color : white;
  text-align: center;
}

a{
  color: white;
}
.container {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: left;
  }